<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="/index/all">Главная</a>
            <a href="/login">Вход</a>
            <a href="/register">Регистрация</a>
            <a href="/create_post">Создать пост</a>
            <a href="/auth/logout">Выйти</a>
            {% if current_user %}
                <a href="{{ url_for('user', username=current_user.username) }}">Ваш профиль</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>