{% extends "base.html" %}

{% block content %}
    <h1 align="center">Редактировать профиль</h1>
    {% if after_edit %}
        <span style="color: green">Изменения приняты</span>
    {% endif %}

<div class="post-form-container">
    <form class="post-form" action="/edit_profile" method="post">

            <label for="username">Имя пользователя</label><br>
            <input type="text" name="username" id="username" value="{{ current_user.username | safe }}" required><br>


            <label for="about_me">Обо мне</label><br>
            <textarea name="about_me" id="about_me" rows="5" cols="33" required>{% if current_user.about_me %}{{ current_user.about_me }}{% endif %}</textarea><br>


            <input class="submit-button" type="submit" value="Внести изменения">

    </form>
</div>

{% endblock %}