{% extends "base.html" %}

{% block content %}
    <div style="max-width: 800px; margin: auto; margin-top: 50px;">
        <div style="background-color: #e4e4e4; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" align="center">
            <h1>{{ post.header }}</h1>
            <img src="data:image/jpeg;base64,{{ image }}" alt="Post Image" style="max-width: 100%; border-radius: 8px;">
            <p>{{ post.body }}</p>
            <p style="color: #808080; font-size: 12px;">
                <a href="/user/{{ post.author.username }}" style="color: #808080;">Автор: {{ post.author.username }}</a><br>
                Дата: {{ post.timestamp }}
            </p>
        </div>
    </div>

    <div style="max-width: 800px; margin: auto; margin-top: 30px;">
        <h2 style="text-align: center;">Комментарии</h2>
        <form method="post" action="/posts/add_comment/{{ post.id }}" style="text-align: center;">
            <textarea name="text" id="text" rows="3" cols="60" placeholder="Оставьте свой комментарий" style="width: 100%; padding: 10px; box-sizing: border-box;" required></textarea><br>
            <input type="submit" value="Отправить комментарий" style="background-color: #4CAF50; color: white; border: none; padding: 10px 15px; border-radius: 4px; cursor: pointer;">
        </form>
    </div>

    <div style="max-width: 800px; margin: auto; margin-top: 20px;">
        {% for comment in comments_and_avatars %}
            {% include '_comment.html' %}
            <hr style="border-color: #e4e4e4;">
        {% endfor %}
    </div>
{% endblock %}