{% extends "base.html" %}

{% block content %}

    {% if error %}
        {{error}}
    {% endif %}
<div class="login-container" align="center">
    <form method="post" action="/register"  class="login-form">
            <h1>Регистрация</h1>

            <label for="email">Электронная почта</label><br>
            <input type="text" name="email" id="email" required>


            <label for="username">Имя пользователя</label><br>
            <input type="text" name="username" id="username" required>


            <label for="password">Пароль</label><br>
            <input type="password" name="password" id="password" required>


            <input type="submit" value="Зарегистрироваться" class="login-button">

    </form>
</div>
{% endblock %}
