{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="data:image/jpeg;base64,{{ avatar }}" alt="User Avatar"></td>
            <td>
                <h1>Пользователь: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Был в сети: {{ user.last_seen }}</p>{% endif %}
                {% if user.username == current_user.username %}
                <p><a href="/edit_profile">Редактировать профиль</a></p>
                {% elif current_user.id not in user.followers %}
                <form method="post" action="/follow">
                    <input type="hidden" name="username" id="username" value="{{ user.username }}">
                    <input type="submit" value="Подписаться" style="background-color: green; color: white;">
                </form>
                {% else %}
                <form method="post" action="/unfollow">
                    <input type="hidden" name="username" id="username" value="{{ user.username }}">
                    <input type="submit" value="Отписаться" style="background-color: red; color: white;">
                </form>
                {% endif %}

                <form method="get" action="/user/{{ user.username }}/followers">
                    <input type="submit" value="Подписчики" style="background-color: aqua;">
                </form>
                <form method="get" action="/user/{{ user.username }}/following">
                    <input type="submit" value="Подписки" style="background-color: aqua;">
                </form>

            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}